@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background: #282c34;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
  text-align: center;
}

h1 {
  font-weight: lighter;
}

p {
  color: #999;
  font-size: 0.8rem;
}

.btn {
  background: #0064e7;
  border: none;
  border-radius: 15px;
  padding: 10px 25px;
  color: #fff;
  font-family: inherit;
  margin: 20px 10px;
  text-transform: uppercase;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn--red {
  background: #e74c3c;
}

.text-input {
  background: none;
  border: none;
  color: #fff;
  border-bottom: 2px solid #0064e7;
  padding: 8px 25px 8px 5px;
  font-family: inherit;
  outline: none;
  opacity: 0.6;
  transition: 0.3s;
}

.text-input:focus {
  opacity: 1;
}

.tasks-section {
  margin-bottom: 100px;
}

.tasks-section__list {
  max-width: 400px;
  list-style-type: none;
  padding: 0;
  margin: 20px auto 40px auto;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed rgb(83, 83, 83);
}
